<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Student Modifying</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <link th:href="@{/fonts/fonts.css}" rel="stylesheet" />
</head>
<body>
<div id="container">
    <header>
        <nav class="head">
            <h1 class="title">Система управления студентами и их успеваемостью</h1>
            <div class="login">
                <div><p>Привет, admin!</p></div>
                <div><a href="/logout">Logout</a></div>
            </div>
        </nav>
    </header>
    <main>
        <section class="content">
            <div class="side_menu">
                <div><a href="/home">На главную</a></div>
                <div><a href="/students">Назад</a></div>
            </div>
            <div class="main">
                <h2>Для модификации, введите новые значения и нажмите кнопку "Применить".</h2>
                <div class="form_cm">
                    <form th:action="@{/students}" th:object="${student}" th:method="patch">
                        <input type="hidden" th:value="${student.id}" th:attr=" name='id'">
                        <div class="line2">
                            <div>Фамилия</div>
                            <label for="surname">
                                <input type="text" th:field="*{surname}" name="surname" id="surname">
                            </label>
                        </div>
                        <div class="line2">
                            <div>Имя</div>
                            <label for="name">
                                <input type="text" th:field="*{name}" name="name" id="name">
                            </label>
                        </div>
                        <div class="line2">
                            <div>Группа</div>
                            <label for="group">
                                <input type="text" th:field="*{group.name}" name="group" id="group">
                                <input type="hidden" th:field="*{group.id}">
                            </label>
                        </div>
                        <div class="line2">
                            <div>Дата поступления</div>
                            <label for="admissionDate">
                                <input type="text" th:field="*{admissionDate}" name="admissionDate"
                                id="admissionDate">
                            </label>
                        </div>
                        <input class="button_cm_student" type="submit" value="Применить">
                    </form>
                </div>
            </div>
        </section>
    </main>
</div>
</body>
</html>