<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0,
           maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Students List</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <link th:href="@{/fonts/fonts.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/student.js}"></script>
</head>
<body>
<div id="container">
    <header>
        <nav class="head">
            <h1 class="title">Система управления студентами и их успеваемостью</h1>
            <div class="login">
                <div><p>Привет, admin!</p></div>
                <div><a href="/logout">Logout</a></div>
            </div>
        </nav>
    </header>
    <main>
        <section class="content">
            <div class="side_menu">
                <div><a href="/home">На главную</a></div>
            </div>
            <div class="main">
                <div class="button_group1">
                    <input class="button_student1" type="submit"
                           value="Просмотреть успеваемость выбранных студентов"
                           onclick="progressStudents()">
                    <form action="/students/new">
                        <input class="button_student2" type="submit" value="Создать студента…">
                    </form>
                    <input class="button_student1" type="submit" value="Модифицировать выбранного студента…"
                           onclick="modifyStudent()">
                    <input class="button_student2" type="submit" value="Удалить выбранных студентов"
                           onclick="deleteStudents()">
                </div>
                <div class="students">
                    <table class="list">
                        <caption>Список студентов</caption>
                        <tr>
                            <th class="l_col0"></th>
                            <th class="l_col1">Фамилия</th>
                            <th class="l_col2">Имя</th>
                            <th class="l_col3">Группа</th>
                            <th class="l_col4">Дата поступления</th>
                        </tr>
                        <tr th:each="student : ${students}">
                            <td class="l_col0"><label><input name="idStudent" type="checkbox"
                                                             th:value="${student.id}"></label></td>
                            <td class="l_col1" th:utext="${student.surname}">surname</td>
                            <td class="l_col2" th:utext="${student.name}">name</td>
                            <td class="l_col3" th:utext="${student.group.name}">group</td>
                            <td class="l_col4" th:utext="${student.admissionDate}">date</td>
                        </tr>
                    </table>
                </div>
            </div>
        </section>
    </main>
</div>
</body>
<form th:action="@{/students}" th:method="delete" th:id="deleteForm">
    <input th:type="hidden" th:id="idsDelete" th:name="idsDelete">
</form>
<form th:action="@{/students/edit}" th:method="get" th:id="modifyForm">
    <input th:type="hidden" th:id="idModify" th:name="idModify">
</form>
<form th:action="@{/students/progress}" th:method="patch" id="progressForm">
    <input th:type="hidden" th:id="idProgress" th:name="idProgress">
</form>
</html>