<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Student Progress</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <link th:href="@{/fonts/fonts.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/student.js}"></script>
</head>
<body>
<div id="container">
    <header>
        <nav class="head">
            <h1 class="title">Система управления студентами и их успеваемостью</h1>
            <div class="login">
                <div><p>Привет, admin!</p></div>
                <div><a href="/logout">Logout</a></div>
            </div>
        </nav>
    </header>
    <main>
        <section class="content">
            <div class="side_menu">
                <div><a href="/home">На главную</a></div>
                <div><a href="/students">Назад</a></div>
            </div>
            <div class="main">
                <h2>Отображена успеваемость для следующего студента:</h2>
                <div class="progress">
                    <input type="hidden" name="idStudent" value="1">
                    <table class="list">
                        <tr>
                            <th class="lp_col0">Фамилия</th>
                            <th class="lp_col1">Имя</th>
                            <th class="lp_col2">Группа</th>
                            <th class="lp_col3">Дата поступления</th>
                        </tr>
                        <tr>
                            <td class="l_col1" th:utext="${student.surname}">surname</td>
                            <td class="l_col2" th:utext="${student.name}">name</td>
                            <td class="l_col3" th:utext="${student.group.name}">group</td>
                            <td class="l_col4" th:utext="${student.admissionDate}">date</td>
                        </tr>
                    </table>
                </div>
                <div class="progress_section">
                    <div class="marks">
                        <table class="list">
                            <tr>
                                <th class="lm_col0">Дисциплина</th>
                                <th class="lm_col1">Оценка</th>
                            </tr>
                            <tr>
                                <td class="lm_col0">Высшая математика</td>
                                <td class="lm_col1">4</td>
                            </tr>
                        </table>
                    </div>
                    <div class="term_average_mark">
                        <div class="term">
                            Выбрать семестр
                            <form action="/student_progress" method="get">
                                <label>
                                    <input type="hidden" name="progressHidden" value="1">
                                    <select name="idSelectedTerm">
                                        <option selected value="1">Семестр 1</option>
                                        <option value="2">Семестр 2</option>
                                        <option value="3">Семестр 3</option>
                                    </select>
                                </label>
                                <input class="button_term" type="submit" value="Выбрать">
                            </form>
                        </div>
                        <div class="average_mark">
                            Средняя оценка за семестр:
                            <h3>3,40 балла</h3>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</div>
</body>
</html>