<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Disciplines List</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <link th:href="@{/fonts/fonts.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/discipline.js}"></script>
</head>
<body>
<div id="container">
    <header>
        <nav class="head">
            <h1 class="title">Система управления студентами и их успеваемостью</h1>
            <div class="login">
                <div><p>Привет, admin!</p></div>
                <div><a href="/logout">Logout</a></div>
            </div>
        </nav>
    </header>
    <main>
        <section class="content">
            <div class="side_menu">
                <div><a href="/home">На главную</a></div>
            </div>
            <div class="main">
                <h2 class="discipline_title">Список дисциплин</h2>
                <div class="discipline_section">
                    <div class="discipline">
                        <table class="list">
                            <tr>
                                <th class="ld_col0"></th>
                                <th class="ld_col1">Наименование дисциплины</th>
                            </tr>
                            <tr th:each="discipline : ${disciplines}">
                                <td class="l_col0"><label><input name="idDiscipline" type="checkbox"
                                                                 th:value="${discipline.id}"></label></td>
                                <td class="l_col1" th:utext="${discipline.name}">discipline</td>
                            </tr>
                        </table>
                    </div>
                    <div class="root_discipline">
                        <div class="button_group2">
                            <form action="/disciplines/new">
                                <input class="button_discipline" type="submit" value="Создать дисциплину…">
                            </form>
                            <input class="button_discipline" type="submit" value="Модифицировать выбранную дисциплину…"
                                   onclick="modifyDiscipline()">
                            <input class="button_discipline" type="submit" value="Удалить выбранную дисциплину…"
                                   onclick="deleteDisciplines()">
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</div>
</body>
<form th:action="@{/disciplines}" th:method="delete" th:id="deleteForm">
    <input th:type="hidden" th:id="idsDelete" th:name="idsDelete">
</form>
<form th:action="@{/disciplines/edit}" th:method="get" th:id="modifyForm">
    <input th:type="hidden" th:id="idModify" th:name="idModify">
</form>
</html>