<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Term Modifying</title>
  <link th:href="@{/css/style.css}" rel="stylesheet" />
  <link th:href="@{/fonts/fonts.css}" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag@2.0.1/dist/css/multi-select-tag.css">
</head>
<body>
<div id="container">
  <header>
    <nav class="head">
      <h1 class="title">Система управления студентами и их успеваемостью</h1>
      <div class="login">
        <div><p>Привет, admin!</p></div>
        <div><a href="/logout">Logout</a></div>
      </div>
    </nav>
  </header>
  <main>
    <section class="content">
      <div class="side_menu">
        <div><a href="/home">На главную</a></div>
        <div><a href="/terms">Назад</a></div>
      </div>
      <div class="main">
        <h2>Для модификации семестра отредактируйте данные и нажмите кнопку "Применить".</h2>
        <div class="form_cm">
          <form th:action="@{/terms}" th:object="${term}" th:method="patch">
            <input type="hidden" th:value="${idTerm}" th:attr=" name='id'">
            <div class="line5">
              <div>Длительность (в неделях)</div>
              <label>
                <input name="duration" type="text" th:value="${duration}">
              </label>
            </div>
            <div class="line5">
              <div>Дисциплины в семестре</div>
              <label for="countries">
                <select id="countries" th:field="*{disciplines}" multiple="multiple">
                  <option th:each="d : ${disciplineList}"
                          th:value="${{d}}"
                          th:text="${d.name}">
                  </option>
                </select>
              </label>
            </div>
            <input class="button_cm_term" type="submit" value="Создать">
          </form>
          <script src="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag@2.0.1/dist/js/multi-select-tag.js"></script>
          <script>
            new MultiSelectTag('countries')
          </script>
        </div>
      </div>
    </section>
  </main>
</div>
</body>
</html>