<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Terms List</title>
  <link th:href="@{/css/style.css}" rel="stylesheet" />
  <link th:href="@{/fonts/fonts.css}" rel="stylesheet" />
  <script type="text/javascript" th:src="@{/js/term.js}"></script>
</head>
<body>
<div id="container">
  <header>
    <nav class="head">
      <h1 class="title">Система управления студентами и их успеваемостью</h1>
      <div class="login">
        <div><p>Привет, admin!</p></div>
        <div><a href="/logout">Logout</a></div>
      </div>
    </nav>
  </header>
  <main>
    <section class="content">
      <div class="side_menu">
        <div><a href="/home">На главную</a></div>
      </div>
      <div class="main">
        <div class="terms_section1">
          <div class="terms_title">
            <div class="line4">
              <div>Выбрать семестр</div>
              <label>
                <form action="/terms" method="get">
                  <select th:object="${term}" th:field="*{id}">
                    <option th:each="t : ${termList}" th:value="${t.id}"
                            th:text="${t.name}"></option>
                  </select>
                  <input class="button_term" type="submit" value="Выбрать">
                </form>
              </label>
            </div>
          </div>
          <div class="term_duration">
            <h2>Длительность семестра:</h2>
            <h2 th:text="${duration}"></h2>
          </div>
          <h2 class="list_dt">Список дисциплин семестра</h2>
          <div class="terms_section2">
            <div class="terms">
              <table class="list">
                  <tr>
                      <th class="lt_col0">Наименование дисциплины</th>
                  </tr>
                <tr th:each="discipline : ${disciplineList}">
                  <td class="l_col1" th:utext="${discipline.name}">discipline</td>
                </tr>
              </table>
            </div>
            <div class="root_terms">
              <div class="button_group3">
                <form action="/terms/new" method="get">
                  <input class="button_terms" type="submit" value="Создать семестр…">
                </form>
                <form action="/terms/edit" method="get">
                  <input type="hidden" name="idModify" th:value="*{idTerm}">
                  <input class="button_terms" type="submit" value="Модифицировать текущий семестр…">
                </form>
                <form th:action="@{/terms}" th:method="delete">
                  <input type="hidden" name="idDelete" th:value="*{idDelete}">
                  <input class="button_terms" type="submit" value="Удалить текущий семестр…">
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</div>
</body>
</html>