<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Title page</title>
  <link th:href="@{/css/style.css}" rel="stylesheet" />
  <link th:href="@{/fonts/fonts.css}" rel="stylesheet" />
</head>
<body>
<div id="container">
  <header>
    <nav class="head">
      <h1 class="title">Система управления студентами и их успеваемостью</h1>
      <div class="login">
        <div><p>Привет, admin!</p></div>
<!--        <div><a href="/logout">Logout</a></div>-->
        <form th:action="@{/logout}" th:method="POST">
          <input th:type="submit" th:value="logout">
        </form>
      </div>
    </nav>
  </header>
  <main>
    <section class="menu_title">
      <a href="/students">Студенты</a>
      <a href="/disciplines">Дисциплины</a>
      <a href="/terms">Семестры</a>
    </section>
  </main>
</div>
</body>
</html>